.header{
    border-bottom: 3px solid #38a169;
}
.h_flex a{
    display: inline-block;
    padding: 5px 20px;
    border-radius: 4px;
}
.h_flex a.active{
    background-color: #38a169;
    color: #fff;
}
@media (max-width : 768px) {
    .spacer{
        display: none !important;
    }
    .h_flex{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .h_menu{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    .h_flex a{
        padding-top: 5px;
        padding-bottom: 5px;
    }

}