body {
  font-family: 'Rubik', sans-serif;
}

.navbar {
  padding: 30px;
  margin-bottom: 20px;
}

.expense-table {
  margin-top: 20px;
}

.footer {
  bottom: 0;
  left: 0;
  position: relative;
  width:100%;
}

.accordion {
  margin-left: 80px;
  margin-right: 80px;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
} */
